TMDB_API_KEY = '4c63fafd3820591b187d09aa89692e8c'
TMDB_BASE_URL = 'https://api.themoviedb.org/3'

BACKEND_HOST = '0.0.0.0'
BACKEND_PORT = 8000

CORS_ORIGINS=http://localhost:19006,http://localhost:8081